.about-page > h2{
    border-bottom: 2px solid rgba(146, 204, 206, 1);
}

.bioCont {
    margin-top: 25px;
    margin-bottom: 45px;
    width: 750px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px 1px;
}

.about-page > div{
    display: flex;
    justify-content: center;
}

.bioCont {
    padding: 25px;
    display: flex;
    display: inline-block !important;
}

.myPic{
    width: auto !important;
    height: 15rem !important;
    margin: 0px 45px 0px 35px;
    float: left !important;
    border-radius: 15px;
}


.bioInfo{
    /* margin-left: 30px; */
    padding: 5px 35px 0px 285px;
    font-size:larger;
}

.tech-skills {
    margin-top: 25px;
    margin-bottom: 45px;
    width: 750px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px 1px;
}


@media screen and (max-width: 1200px) {
    .about-page>h2,
    .about-page>div {
        flex: 0 0 100%;
    }

    .about-page>h2 {
        border-right: none;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 5vw;
        display: flex;
        justify-content: center !important;
        border-bottom: 4px solid rgba(146, 204, 206, 1);
    }

    .bioCont {
        display: block;
        justify-content: center;
        border-top: none;
    }

    .about-pic {
        display: flex;
        justify-content: center;
        margin-bottom: 12px
    }

    .bioInfo{
        padding: 5px 35px 0px 35px;
    }
    

}

