.contact-me{
    border-bottom: 2px solid rgba(146, 204, 206, 1);
}

.contact-info{
    display: flex;
    float: left !important;
    flex-wrap: wrap;
}

.contact-info{
    display: flex;
    /* justify-content: space-evenly !important; */
    /* margin-bottom: 40px; */
    /* justify-content: center !important; */
    /* justify-items: center !important; */
    
}

.contact-form {
    /* border-top: 2px solid rgba(146, 204, 206, 1); */
    padding: 10px 0px 40px;
    /* display: inline-block; */
    float: right;
}

a{
    color: rgb(54, 161, 164) !important;
    text-decoration: none;
}

.email-link:hover {
    font-style: italic;
}

.number{
    color: rgb(54, 161, 164);
}

@media screen and (max-width: 1200px) {
    .contact-me,
    .contact-form>div {
        flex: 0 0 100%;
    }

    .contact-form {
        border-top: none;
    }

    .contact-section{
        display: grid !important;
        justify-items: center;
    }



    .contact-me {
        border-right: none;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 8vw;
        display: flex;
        justify-content: center !important;
        border-bottom: 4px solid rgba(146, 204, 206, 1);
    }
}

@media only screen and (min-width: 374px) and (max-width: 413px){
    .contact-me{
       font-weight: bolder !important;
    }

    .email-phone{
        font-size: 4vw;
        /* flex-wrap: wrap; */
    }
}
